%h1 R.A.I.N.

#key-defs
  %h2 Keys:

  %dl
    %dt a
    %dd Move left
    %dt d
    %dd Move right
    %dt hold shift
    %dd Run
    %dt w
    %dd Jump
    %dt i
    %dd Inventory
    %dt space
    %dd Attack
    %dt Escape
    %dd Pause game
