.status-bar
  .bar.rounded-top
    %span.summary
    %span.time

  .notifications.collapsed.rounded-bottom
    %h3
      Mobile
      %button.clear-notifications Clear Notifications

    %h2 Notifications

    %ul.items

    .bar.rounded-bottom

.home-screen
  %h1 Coming Soon

  %p
    Yo

  .launcher
